body {
  margin: auto;
  box-sizing: border-box;
}

#header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3325;
  min-width: 100%;
  border-bottom: 1px solid gray;
  box-shadow: coral;
}

.lable {
  margin: 1em;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

a {
  text-decoration: none;
  transition: all ease-in-out 0.5s;
  color: rgb(0, 0, 0);
}

.nav-menu a:visited {
  color: rgb(187, 115, 48);
}

.nav-menu a:hover {
  color: #fff;
}

.nav-menu a:active {
  color: rgb(21, 255, 0);
  transition: ease-in-out 0.3s all;
}

.menu-bord {
  background-color: black;
  border-radius: 2em;
  padding: 1em;
  margin: 0 0.5rem;
}

#main-art {
  background-color: rgb(207, 232, 220);
  border: 2px solid rgb(79, 185, 227);
  padding: 1rem;
  margin: 3rem 1rem;
  border-radius: 0.5em;
}

.cards {
  background-color: rgb(215, 207, 232);
  border: 2px solid rgb(79, 185, 227);
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: all ease-in-out 0.5s;
}

.cards:hover {
  transform: scale(1.2);
}

.parents {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.more {
  padding: 1rem;
  margin: 1rem;
  background-color: red;
  border-radius: 0.5rem;
}

#end-rules {
  background-color: rgb(152, 134, 255);
  border: 2px solid rgb(0, 0, 0);
  padding: 1rem;
  align-items: center;
  margin: 3rem 1rem;
  border-radius: 0.5em;
  display: flex;
}

#end-rules > .ol-line {
    border-left: 1px solid black;
    margin: 1em;
    padding: 1em;
}

footer {
  text-align: center;
  background-color: chartreuse;
  padding: 0.5em;
  margin: 1em 0;
}


@media print {
  #header-menu {
    display: none;
  }
  #main-art {
    margin: 0.5rem;
  }
  #end-rules {
    margin: 0.5erm;
    display: flex;
    flex-direction: column;
  }

}

@media (min-width: 300px) and (max-width: 800px) {
  #header-menu {
    flex-wrap: wrap;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    padding-inline-start: 0;
  }
  .parents {
    margin: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 50%;
  }
  #end-rules {
    margin: 0.5erm;
  }
}