body {
  margin: auto;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3325;
  position: sticky;
  min-width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid gray;
}

.lable {
  margin: 1em;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

a {
  text-decoration: none;
  transition: ease-in-out 0.5s all;
}

.nav-menu a:visited {
  color: rgb(244, 0, 252);
}

.nav-menu a:hover {
  color: #fff;
}

.nav-menu a:active {
  color: rgb(255, 0, 0);
  transition: ease-in-out 0.3s all;
}

.menu-bord {
  background-color: black;
  border-radius: 2em;
  padding: 1em;
  margin: 0 0.5rem;
}
